.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader-image {
    width: 50px;
    /* Adjust size as needed */
    height: 50px;
    animation: rotateLoader 4s linear infinite;
}

@keyframes rotateLoader {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}