.custom-dropdown-item:hover {
    background-color: #0e264c !important;
    /* Slightly lighter blue for hover */
    color: white !important;
    /* Ensures text remains white */
}

.custom-dropdown-item.active,
.custom-dropdown-item:active,
.custom-dropdown-item.router-link-exact-active {
    background-color: #091a35 !important;
    color: inherit !important;
    /* Optional: inherit the color too */
    box-shadow: none !important;
    /* Optional: remove shadow if added */
}